<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link href="favicon.ico" rel="shotrtcut icon"/>
    <script type="text/javascript" src="./javascripts/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans|Quicksand|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="featured">
        Page not found, probably still in developement!
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    </div>
    <img style="display: block; margin-left:auto; margin-right: auto; width: 33%; padding-bottom: 20px;" src="https://i.kym-cdn.com/photos/images/newsfeed/001/230/774/9b2.gif"/>
</body>
</html>

